<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>

  <h2>Short URL: <strong><a href="http://localhost:8080/u/<%= url.shortUrl %>">http://localhost:8080/u/<%= url.shortUrl %></a></strong></h2>

    <form method="POST" action="/urls/<%= url.shortUrl %>?_method=PUT">
      <input type="text" name="longUrl" placeholder="<%= url.longUrl %>" size="30">
      <input type="submit" name="updateButton" value="update">
    </form>

  <div class="container">
        <h2><strong>Visits: <%= url.visits %></strong></h2>
    <h2><strong>Unique Visits: <%= url["unique-visits"] %></strong></h2>
    <h2><strong>Unique Visitors: -</strong></h2>
      <ul>
        <% for(let user in visits) {%>
        <li><h3><%= user %><h3></li>
          <ul>
            <% for(let visit of visits[user]) {%>
            <li><%= visit %></li>
            <% } %>
          </ul>
        <% } %>
      </ul>
  </div>
</body>
</html>