<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>
  <div class="container">
  <ul>
    <% for (var url of urls) { %>
      <li>
        <p>TinyApp url: <a href="http://localhost:8080/u/<%= url.shortUrl %>">http://localhost:8080/u/<%= url.shortUrl %></a>  -  url: <%= url.longUrl %></p>
        <span>
          <a href="/urls/<%= url.shortUrl %>">Edit</a>
        </span>
        <span>
        <form method="POST" action="/urls/<%= url.shortUrl %>/delete">
          <input type="submit" value="Delete">
        </form>
        </span>
      </li>
    <% } %>
  </ul>
  </div>
    <p><a href="/urls/new">Shorten a new URL!</a></p>
</body>
</html>